<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <style>
table {
  border: solid 1px black;
  border-collapse: collapse;
}

th, td {
  border: solid 1px black;
}

th {
  padding: 0.4em 1em;
  text-align: left;
}

td {
  padding: 0.4em 1em;
}
td.failure {
  background-color: #cc0000;
  padding: 0;
}
td.success {
  background-color: #73d216;
  padding: 0;
}

td.failure a, td.success a {
  display: block;
  padding: 0.4em 1em;
}
  </style>
</head>
<body>
  <h1>Flatpak builds of GNOME apps from master</h1>
  <ul>
    <li>Success: {{ num_success}}</li>
    <li>Failed: {{ num_failed }}</li>
    <li>Total: {{ num_total }}</li>
  </ul>
  <table>
{% for build in builds %}
    <tr>
      <th>{{ build.ref }}</th>
      <td class="{{ build.status }}"><a href="{{ build.log_url }}">{{ build.datetime }}</a></td>
      <td>{{ build.notes }}</td>
    </tr>
{% endfor %}
  </table>
  <p>Last updated: {{ last_updated }}</p>
  <p>See <a href="https://gitlab.gnome.org/mbridon/flatpak-master-dashboard">the source</a>.</p>
</body>
</html>
